{% extends 'base.html.twig' %}

{% block title %}BE | vérification Excel{% endblock %}

{% block content %}
    <div class="verif">
        {% if errorGarde %}
            <div id="errorGarde" class="resultErreur" onclick="displayErrorDiv('displayGarde')">
                <img width="30" src="{{ asset('assets/images/cross.png') }}">
                <span>{{ errorGarde|length }} Erreur(s) sur la page "Page de garde"</span>
                <div class="displayError" id="displayGarde">
                    <ul>
                    {% for erreur in errorGarde %}
                        <li>{{ erreur }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="resultWork">
                <img width="30" src="{{ asset('assets/images/check.png') }}">
                <span>Aucune erreur sur la page "Page de garde"</span>
            </div>
        {% endif %}



        {% if errorPointage %}
            <div class="resultErreur" onclick="displayErrorDiv('displayPointage')">
                <img width="30" src="{{ asset('assets/images/cross.png') }}">
                <span>{{ errorPointage|length }} Erreur(s) sur la page "Pointage étude"</span>
                <div class="displayError" id="displayPointage">
                    <ul>
                        {% for erreur in errorPointage %}
                            <li>{{ erreur }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="resultWork">
                <img width="30" src="{{ asset('assets/images/check.png') }}">
                <span>Aucune erreur sur la page "Pointage étude"</span>
            </div>
        {% endif %}



        {% if errorPositionnement %}
            <div class="resultErreur" onclick="displayErrorDiv('displayPosi')">
                <img width="30" src="{{ asset('assets/images/cross.png') }}">
                <span>{{ errorPositionnement|length }} Erreur(s) sur la page "Positionnement étude"</span>
                <div class="displayError" id="displayPosi">
                    <ul>
                        {% for erreur in errorPositionnement %}
                            <li>{{ erreur }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="resultWork">
                <img width="30" src="{{ asset('assets/images/check.png') }}">
                <span>Aucune erreur sur la page "Positionnement étude"</span>
            </div>
        {% endif %}


        {% if errorSynoptique %}
            <div class="resultErreur" onclick="displayErrorDiv('displaySyno')">
                <img width="30" src="{{ asset('assets/images/cross.png') }}">
                <span>{{ errorSynoptique|length }} Erreur(s) sur la page "Synoptique bilan µmodules"</span>
                <div class="displayError" id="displaySyno">
                    <ul>
                        {% for erreur in errorSynoptique %}
                            <li>{{ erreur }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="resultWork">
                <img width="30" src="{{ asset('assets/images/check.png') }}">
                <span>Aucune erreur sur la page "Synoptique bilan µmodules"</span>
            </div>
        {% endif %}

        {% if errorAdductabilite %}
            <div class="resultErreur" onclick="displayErrorDiv('displaySyno')">
                <img width="30" src="{{ asset('assets/images/cross.png') }}">
                <span>{{ errorAdductabilite|length }} Erreur(s) sur la page "Adductabilité des sites"</span>
                <div class="displayError" id="displaySyno">
                    <ul>
                        {% for erreur in errorAdductabilite %}
                            <li>{{ erreur }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="resultWork">
                <img width="30" src="{{ asset('assets/images/check.png') }}">
                <span>Aucune erreur sur la page "Adductabilité des sites"</span>
            </div>
        {% endif %}

        <div class="resultWarning">
            <img width="30" src="{{ asset('assets/images/warning.png') }}" >
            <span>Assurez-vous d'avoir correctement renseigné la feuille "Photo situation PB"</span>
            <img width="30" src="{{ asset('assets/images/warning.png') }}" >
        </div>


    </div>
{% endblock %}

